<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QRPDaemon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <QRPDaemon.Properties.Settings>
      <setting name="StartTime_03" serializeAs="String">
        <value>08:00:00</value>
      </setting>
      <setting name="StartTime_05" serializeAs="String">
        <value>07:30:00</value>
      </setting>
      <setting name="SharedID" serializeAs="String">
        <value>511208</value>
      </setting>
      <setting name="SharedPW" serializeAs="String">
        <value>511208p</value>
      </setting>
      <setting name="DBIP" serializeAs="String">
        <value>192.168.245.68</value>
      </setting>
      <setting name="DBID" serializeAs="String">
        <value>qrpusr</value>
      </setting>
      <setting name="DBPW" serializeAs="String">
        <value>qrpdev123!</value>
      </setting>
      <setting name="DBCatalog" serializeAs="String">
        <value>QRPDaemon</value>
      </setting>
    </QRPDaemon.Properties.Settings>
  </userSettings>
</configuration>